
@font-face {
    font-family: 'Giants-Inline';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

*{
    font-family: pretendard-Regular;
    
}
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px #fff inset ; -webkit-text-fill-color: #000; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }

/* body */
body{
    margin-top: 90px; /*헤더*/
}

/* container */
.container{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

/* 로고& 페이지 설명 */
.logo{
    width: 120px;
    height: 76px;
    margin-bottom: 12px;
}

.logo_text{
    font-weight: 900;
    font-size: 16px;
    color: #B3B3B3;
    margin-bottom: 52px;
}


/* form */
.personal_form{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 36px;
}

/* 각각 입력부분그룹 */
.inputform{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 740px;
}

/* 각각 입력창의 이름 */
.inputform>p{
    font-weight: 900;
    font-size: 16px;
    margin: 6px;
}

/* 이름 */
.inputform>input{
    box-sizing: border-box;
    padding: 6px;
    width: 600px;
    border-width: 0 0 0.8px;
    border-color: #5d5d5d;
    outline: none;
    font-weight: 100;
    font-size: 16px;
}

/* 가입버튼 */
.com_join_btn{
    margin: 32px 0px;

    border: none;
    background-color: transparent;
}
.com_join_btn>img{
    width: 200px;
}


/* 입력창 placeholder랑 커서 */
input::placeholder,
textarea::placeholder
{
    color: #ababab;
    font-size: 14px;
    font-weight: 100;
}

button:hover{
    cursor: pointer;
}