/* @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pretendard-Regular;
}

.container{
    padding: 48px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 140px;
    height: 85px;
    margin-bottom: 20px;
}

.logo_t{
    font-family: Giants-Inline;
    font-size: 28px;
    margin-bottom: 60px;
}

.logo_t>span{
    color: #0051BA;
    font-family: Giants-Inline;
}

/* 카드부분 */
.card{
    display: flex;
    flex-flow: row;
} */