
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.join{
    border-radius: 8px;
    margin: 0px 45px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    /* 그림자, 테두리 */
    border-image-source: linear-gradient(123.89deg,
  rgba(170, 170, 170, 0.3) 9.82%,
  rgba(170, 170, 170, 0.05) 32.32%,
  rgba(170, 170, 170, 0.2) 61.65%,
  rgba(170, 170, 170, 0.05) 90.18%);
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.15),
    4px 4px 4px 0px rgba(255, 255, 255, 0.1) inset;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.join:hover{
    cursor: pointer;
}

.title{
    font-weight: 700;
    font-size:28px;
    margin-top: 60px;
}

.join>img{
    width: 150px;
    margin: 12px 100px;
}

.explain{
    font-weight: 200;
    font-size:20px;
    color: #5d5d5d;
    margin-top: 26px;
    margin-bottom: 60px;
}