.passwordbox{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 36px;
    position: relative;
}

.password>div>input{
    position: relative;
    left: 20px;
    box-sizing: border-box;
    padding: 6px;
    width: 600px;
    border-width: 0 0 0.8px;
    border-color: #5d5d5d;
    outline: none;
    font-weight: 100;
    font-size: 16px;
}

.password>div>img{
    position: relative;
    right: 4px;
    width: 20px;
    margin: 0px;
    visibility: visible;
}

.passwordbox>p{
    position: absolute;
    font-size: 12px;
    top: 104px;
    left: 144px;
    color: red;
}