.techs{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 8px;
}

.techs>img{
    height: 32px;
    width: auto;
    margin: 6px 10px;

}

.techs>img:hover{
    cursor: pointer;
}