.comp_login_logo {
    margin-right: 12px;
    width: 20px;
    height: 20px;
}
.comp_login_logo img{
        width: 20px;
    height: 20px;
}
.comp_login {
    display: flex;
    align-items: center;
    flex: none;
}

.comp_login_name {
    font-size: 18px;
    position: relative;
    display: flex;
}

.dropdown {
    margin-left: 12px;
    cursor: pointer;
}

.dropdown_list {
    display: none;
    position: absolute;
    padding-left: 0;
}

.dropdown_list.show {
    margin-top: 12px;
    display: block;
    opacity: 1;
}

.dropdown_list div {
    border: 1px solid #d9d9d9;
    background-color: #fdfdfd;
    padding: 14px;
    width: 120px;
}

.dropdown_list div:hover {
    font-weight: bold;
}

.dropdown_list li {
    list-style: none;
    padding: 0;
    color: #b2b2b2;

    text-align: center;
}

.dropdown img {
    width: 16px;
    height: 16px;
    margin-top: 4px;
}

.list1,
.list2{
    border-radius: 8px 8px 0 0 ;
    border-bottom: none;
    font-size: 16px;
}
.list1{
    border-radius: 8px 8px 0 0 ;
    }
.list2{
    border-radius: 0 0 8px 8px ;
}

@media (max-width: 767px){
    .list1,
    .list2{
    font-size: 12px;
}
.comp_login_name {
    font-size: 14px;
}
.dropdown {
    margin-left: 5px;
}
}