.header {
    width: 100%;
    height: 90px;
    border-bottom: 0.5px solid #b3b3b3;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    
}

.header_nav {
    position: relative;
    width: 100%;
    max-width: 1440px;
    display: flex;
    background-color: #ffffff;
    margin: 0 90px;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.header_nav a {
    text-decoration: none;
    color: #000;
}

.header_nav_list {
    display: flex;
    list-style: none;
    align-items: center;
    flex: none;
}

.header_nav_list div {
    margin-right:40px;
    font-size: 18px;
}

.login_component_div{
    display: flex;
    align-items: center;
    margin-left: auto;
}