.berry_check {
    display: flex;
    align-items: center;
}

.berry_check label {
    font-size: 15px;
    font-family: 'Pretendard-Regular';
    color: #ABABAB;
}

.berry_check input {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}