.bi_container {
    display: flex;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    cursor: pointer;
}

.item_point {
    width: 64px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 12px;
    line-height: 30px;
    text-align: center;
    font-family: 'Giants-Bold';
    font-size: 13px;
}

.bi_container_center {
    width: 840px;
    height: 46px;
    font-family: 'Pretendard-Regular';
    margin-left: 45px;
    margin-right: 45px;
}

.item_title {
    font-size: 18px;
}

.item_userInfo {
    font-size: 16px;
    color: #5D5D5D;
}

.bi_container_end {
    color: #ABABAB;
    font-size: 14px;
}