.board_list {
    margin-top: 57px;
}

.bl_none {
    height: 580px;
    line-height: 580px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-family: 'Pretendard-Regular';
    color: #5D5D5D;
}