.b_section {
    display: flex;
    width: 1080px;
}

.b_profile_card {
    margin-left: 180px;
    margin-top: 50px;
}

.b_description {
    margin-left: 56px;
    margin-top: 50px;
}

.b_berry_select {
    margin-top: 8px;
}

.b_title_form {
    margin-top: 8px;
}

.b_button {
    display: flex;
    justify-content: flex-end;
    margin-top: 44px;
}