.button {
    width: 72px;
    height: 36px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Pretendard-Regular';
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:active {
    transform: scale(0.97);
}

.button.submit {
    background-color: #0051BA;
    color: #FFF;
    border: none;
}

.lb_write {
    width: 95px;
    background-color: #0051BA;
    color: #FFF;
    font-size: 18px;
    border: none;
    border-radius: 12px;
}

.b_edit {
    background-color: #FFF;
    color: #000;
    height: 33px;
}

.b_delete {
    background-color: #000;
    color: #FFF;
    height: 33px;
}

.ci_btn {
    border: 2px solid #0051BA;
    border-radius: 4px;
    color: #0051BA;
    background-color: #FFF;
}