@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

.button {
    width: 72px;
    height: 36px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Pretendard-Regular';
    /* 리액트에서는 { } 안에 넣은 텍스트도 자식 요소로 취급 */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 버튼 클릭 효과 */
.button:active {
    transform: scale(0.97);
}

.button.cancel {
    background-color: #FFF;
    color: #0051BA;
    border: 1px solid #0051BA;
    color: #000;
}

.button.submit {
    background-color: #0051BA;
    color: #FFF;
    border: none;
}

.lb_write {
    width: 95px;
    height: 36px;
    background-color: #0051BA;
    color: #FFF;
    font-size: 18px;
    border: none;
    border-radius: 12px;
}