.b_section {
    display: flex;
    width: 1080px;
    margin: 0 auto;
    padding-bottom: 140px;
}

.b_description {
    margin-left: 56px;
}

.b_berry_select,
.b_title_form  {
    margin-top: 8px;
}