@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

.d_textarea {
    width: 676px;
    height: 220px;
}

.d_title {
    font-size: 25px;
    font-weight: bold;
}

.d_content {
    font-size: 15px;
    color: #989898;
    margin-top: 8px;
}

.d_red_text {
    color: #DE2E2E;
}

.d_bold_text {
    font-weight: bold;
    color: #434343;
}