.d_textarea {
    width: 676px;
    height: 100%;
    font-family: 'Pretendard-Regular';
}

.d_title {
    font-size: 25px;
    font-weight: bold;
}

.d_content {
    font-size: 15px;
    color: #989898;
    margin-top: 8px;
}

.d_red_text {
    color: #DE2E2E;
}

.d_bold_text {
    font-weight: bold;
    color: #434343;
}