.file-upload {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.fu_display {
    padding: 10px;
    border: 1px solid #0051BA;
    border-radius: 4px;
    font-size: 15px;
    position: relative;
    height: 40px;
}

.fu_remove {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: red;
}