.filter_buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Pretendard-Regular';
    margin-right: 48px;
}

.filter_buttons button.active {
    color: #0051BA;
    font-weight: bold;
    transform: scale(1.01);
}