.lb_section {
    width: 1080px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 150px;
}

.lb_menu {
    display: flex;
    justify-content: space-between;
}

.lb_write {
    width: 95px;
}