.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Pretendard-Regular';
}

.pagination button.active {
  border: 1px solid #0051BA;
  background-color: #0051BA;
  color: #FFF;
  width: 35px;
  border-radius: 25px;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}