.pv_title {
    width: 734px;
    height: 40px;
    border-bottom: 1px solid #0051BA;
    font-size: 18px;
    font-family: 'Pretendard-Regular';
    font-weight: bold;
    outline: none;
    padding-top: 12px;
    margin-top: 30px;
}

.pv_content {
    width: 734px;
    height: 100%;
    font-size: 18px;
    font-family: 'Pretendard-Regular';
    outline: none;
    padding-top: 24px;
    padding-bottom: 24px;
}