.pc_info {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

.pc_info span {
    color: #0051BA;
}

.pc_post_berry {
    width: 120px;
    border-radius: 16px;
    background-color: #0051BA;
    margin: 15px auto;
    color: #FFF;
    font-family: 'Giants-Bold';
    line-height: 35px;
    text-align: center;
}

.profile_card {
    width: 292px;
    height: 432px;
    border-radius: 32px;
    text-align: center;
    border-image-source: linear-gradient(123.89deg,
  rgba(170, 170, 170, 0.3) 9.82%,
  rgba(170, 170, 170, 0.05) 32.32%,
  rgba(170, 170, 170, 0.2) 61.65%,
  rgba(170, 170, 170, 0.05) 90.18%);
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.15),
    4px 4px 4px 0px rgba(255, 255, 255, 0.1) inset;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: relative;
}

.pc_jobs {
    font-size: 11px;
    color: #0051BA;
    padding-top: 20px;
    font-weight: bold;
}

.pc_personal_image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 50%;
    overflow: hidden;
}

.pc_personal_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pc_name_career {
    font-size: 24px;
    margin-top: 8px;
    color: #5D5D5D;
    font-weight: bold;
}

.pc_point {
    width: 116px;
    height: 28px;
    border: 1px solid #0051BA;
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pc_point img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.pc_point_berry {
    font-family: 'Giants-Bold';
    font-size: 14px;
    color: #5D5D5D;
    line-height: 28px;
}

.pc_intro {
    width: 244px;
    height: 32px;
    font-size: 13px;
    text-align: center;
    margin: 24px;
    align-items: center;
    color: #989898;
    position: absolute;
    bottom: 120px;
}

.pc_stacks {
    width: 244px;
    height: 105px;
    margin: 24px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
}

.tech_icon {
    height: 21px;
    margin-right: 3px;
}