.mypage_user_title {
    margin-bottom: 12px;
    font-size: 30px;
    padding-left: 47px;
}

.mypage_user_title span {
    font-size: 30px;
}

.mypage_user_left {
    margin-left: 47px;
}

.mypage_user_intro {
    width: 680px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 24px;
}

.mypage_user_info {
    display: flex;
    font-size: 20px;
    width: 680px;
}

.mypage_user_content {
    margin-right: 96px;
}

.mypage_user_content div {
    width: 98px;
}

.mypage_user_content div,
.mypage_user_detail div {
    margin-bottom: 15px;
}

.job-tag {
    margin-right: 5px;
    color: #0051ba;
}

.mypage_user_tech {
    width: 440px;
}

.mypage_user_tech ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.mypage_user_tech li {
    margin: 0 6px 6px 0;
}

.mypage_user_tech img{
    height: 30px;
}

/* 기업 */
.mypage_company_title {
    margin-bottom: 60px;
    font-size: 30px;
    margin-left: 47px;
}

.mypage_company_left {
    margin-left: 47px;
    margin-bottom: 70px;
}

.mypage_company_intro {
    width: 612px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 24px;
}

.mypage_company_info {
    display: flex;
    font-size: 20px;
    width: 480px;
}

.mypage_company_content {
    margin-right: 36px;
}

.mypage_company_content div{
    width: 128px;
}

.mypage_company_content div,
.mypage_company_detail div {
    margin-bottom: 15px;
}