.mypage_user_pick {
    width: 470px;
    height: 165px;
    background-color: #fff;
    border-image-source: linear-gradient(123.89deg,
            rgba(170, 170, 170, 0.3) 9.82%,
            rgba(170, 170, 170, 0.05) 32.32%,
            rgba(170, 170, 170, 0.2) 61.65%,
            rgba(170, 170, 170, 0.05) 90.18%);
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.15),
        4px 4px 4px 0px rgba(255, 255, 255, 0.1) inset;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 32px;
    cursor: pointer;
}

.mypage_user_pick img {
    width: 64px;
    height: 64px;
    margin-right: 20px;
}

.mypage_user_pick_content {
    display: flex;
    margin: 34px 38px 42px 38px
}

.mypage_pick_company_name {
    margin-bottom: 5px;
}

.mypage_pick_company_name p {
    font-size: 30px;
    color: #5d5d5d;
}

.mypage_pick_company_intro p {
    font-size: 13px;
    color: #989898;
}