* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

.mypage_container {
    width: 1080px;
    margin: 0 auto;
}

.mypage_user_grid {
    display: flex;
    justify-content: space-between;
}