@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-style: normal;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1080px;
  height: 60px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Pretendard-Regular';
}

.pagination button.active {
  font-weight: bold;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}