
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
} */



/* container */
.container_login{
    padding: 212px 0px;
    margin: 0px auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 700px;
}