.resume_portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.resume_portfolio_title {
    width: 680px;
    margin: 60px 0 5px 80px;
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
}

.portfolio_title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 480px;
    width: 120px;
}

.resume_bar {
    margin-left: 10px;
    width: 640px;
    border: 0.75px solid #0051ba;
}

.resume_portfolio_upload {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 600px;
    margin-left: 80px;
}

.portfolio_file_upload {
    width: 450px;
    height: 35px;
    border: 1px solid #ABABAB;
    border-radius: 8px;
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.portfolio_file_name {
    width: 388px;
    font-size: 17px;
    margin-left: 20px;
}

.port_upload_button {
    background-color: #fff;
    border: 1px solid #0051BA;
    border-radius: 8px;
    cursor: pointer;
    width: 70px;
    height: 35px;
    font-size: 15px;
    margin-right: 28px;
}

.file_upload_button:hover {
    background-color: #f0f0f0;
}
