.resume_curri {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.resume_curri_title {
    width: 680px;
    margin: 60px 0 5px 80px;
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
}

.curri_title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 530px;
    width: 70px;
}

/* .edu_warning {
    font-size: 14px;
    color: #FF0000;
    margin-right: 380px;
    width: 170px;
} */

.resume_bar {
    margin-left: 10px;
    width: 640px;
    border: 0.75px solid #0051ba;
}

.resume_curri_input {
    width: 600px;
    height: 94px;
    display: flex;
    align-items: center;
    margin: 10px 0 0 80px;
}

.resume_curri_input input {
    border: none;
    font-size: 17px;
}

.resume_curri_input p {
    border: none;
    font-size: 17px;
}

.resume_curri_input input:focus {
    border: none;
    outline: none;
}

.resume_circle {
    width: 10px;
    height: 10px;
    background-color: #0051ba;
    border-radius: 50px;
    margin-right: 32px;
}

.curri_history {
    margin-right: 20px;
    width: 250px;
}

.curri_date {
    display: flex;
    width: 190px;
    margin-right: 60px;
}

.curri_date input{
    width: 65px;
}

.curri_date p {
    margin: 0 5px;
}

.curri_company {
    display: flex;
}

/* .curri_company p{
    margin: 0 10px;
} */

.curri_company_position {
    width: 30px;
}

.curri_company_job {
    width: 60px;
}