
    .slide_container{
      display: flex;
    }

    .login_wrap {
      position: relative;
      width: 794px;
      height: 320px;
      text-align: left;
      overflow: hidden;
    }

    .slide_container ul {
      padding: 0;
      margin: 0;
      display: flex;
      transition: 0.4s ease-in-out;
    }

    .slide_container li {
      list-style: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      border-radius: 8px;
    }

    .login_slide_item {
      flex-shrink: 0;
      width: 794px;
      height: 320px;
      box-sizing: border-box;
      /* !important;를 주면 우선 순위로 해결 */
      background-size: cover !important;
      background-position: center !important;
    }

    .slide_text {
      height: 250px;
      width: 900px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: 70px;
      margin-top: 30px;
      align-items: flex-start;
      left: 120px;
      color: white;
    }

    .slide_in_text {
      left: 120px;
      color: white;
      font-size: 36px;
      font-weight: 900;
      margin: 0;
    }

    .slide_in_text_sub{
      color: white;
      font-size: 26px;
      font-weight: 900;
      margin: 0;
    }



    .arrow {
      display: inline-block;
      width: 35px;
      height: 35px;
      position: absolute;
      top: 45%;
      cursor: pointer;
      z-index: 10;
    }

    .arrow.left {
      left: 30px;
    }

    .arrow.right {
      right: 30px;
    }

    .login_user_card {
    height: 320px;
    width: 260px;
    box-shadow: 4px 4px 16px #d4d4d4,
    -8px -8px 16px #ffffff;
    border-radius: 8px;
    margin-left: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .login_user_image {
      height: 70px;
      width: 70px;
      /* border: 0.5px solid #0051BA; */
      border-radius: 40px;
      margin-top: 20px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .login_user_image img{
      height: 60px;
      width: 60px;
      border-radius: 40px; 
    }

    .login_user_name{
      margin-top: 10px;
      font-size: 18px;
    }
    .login_user_email,
    .login_user_intro{
      color: #B3B3B3;
      font-size: 14px;
      margin-top: 5px;
    }

    .login_user_intro{ 
      width: 200px;
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }

    .main_mypage,
    .main_logout{
    font-size: 18px;
    font-size: 16px;
    width: 150px;
    height: 30px;
    border-radius: 12px;
    margin-top: 15px;
    display: flex; /* Flexbox 컨테이너로 설정 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    cursor: pointer;
    }

    .main_mypage{
      background-color: #0051BA;
    }

    .main_logout{
      border: solid 0.5px #0051BA;
    }
    
    .main_mypage p {
      color: white;
    }

    .main_logout p{
      color: black;
    }

    .main_mypage:active{
    transform: scale(0.97);
    }

    .main_logout:active{
    transform: scale(0.97);
    }