
    .slide_container{
      display: flex;
    }

    .login_wrap {
      position: relative;
      width: 794px;
      height: 320px;
      text-align: left;
      overflow: hidden;
    }

    .slide_container ul {
      padding: 0;
      margin: 0;
      display: flex;
      transition: 0.4s ease-in-out;
    }

    .slide_container li {
      list-style: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      border-radius: 8px;
    }

    .login_slide_item {
      flex-shrink: 0;
      width: 794px;
      height: 320px;
      box-sizing: border-box;
      /* !important;를 주면 우선 순위로 해결 */
      background-size: cover !important;
      background-position: center !important;
    }

    .slide_text {
      height: 250px;
      width: 900px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: 70px;
      margin-top: 30px;
      align-items: flex-start;
      left: 120px;
      color: white;
    }

    .slide_in_text {
      left: 120px;
      color: white;
      font-size: 36px;
      font-weight: 900;
      margin: 0;
    }

    .slide_in_text_sub{
      color: white;
      font-size: 26px;
      font-weight: 900;
      margin: 0;
    }



    .arrow {
      display: inline-block;
      width: 35px;
      height: 35px;
      position: absolute;
      top: 45%;
      cursor: pointer;
      z-index: 10;
    }

    .arrow.left {
      left: 30px;
    }

    .arrow.right {
      right: 30px;
    }

    .login_user_card {
    height: 320px;
    width: 260px;
    box-shadow: 4px 4px 16px #d4d4d4,
    -8px -8px 16px #ffffff;
    border-radius: 8px;
    margin-left: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .login_user_image {
      height: 70px;
      width: 70px;
      /* border: 0.5px solid #0051BA; */
      border-radius: 40px;
      margin-top: 50px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .login_user_image img{
      height: 60px;
      width: 60px;
      border-radius: 40px; 
    }

    .login_user_name{
      margin-top: 25px;
      font-size: 18px;
    }
    .login_user_email{
      color: #B3B3B3;
      font-size: 14px;
    }
    .main_mypage{
    margin-top: 40px;
    font-size: 18px;
    }
    
    .main_mypage p {
      color: black;
    }

@media(max-width: 767px) {
        .login_wrap {
      position: relative;
      width: 100%;
      max-width: 400px;
      height: 320px;
      text-align: left;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }

    .login_wrap ul {
      padding: 0;
      margin: 0;
      display: flex;
      transition: 0.4s ease-in-out;
      border-radius: 0px;
      width: 100%;
    }

    .login_wrap li {
      list-style: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      border-radius: 8px;     
    }

  .login_slide_item {
    flex-shrink: 0;
    width: 100%;
    max-width: 400px;
    height: 250px;
    box-sizing: border-box;
    background-size: cover;
  }

    .slide_text {
      height: 200px;
      width: 320px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: 70px;
      margin-top: 30px;
      align-items: flex-start;
      left: 120px;
      color: white;
    }

    .slide_in_text {
      left: 120px;
      color: white;
      font-size: 24px;
      font-weight: 900;
      margin: 0;
    }

    .slide_in_text_sub{
      color: white;
      font-size: 20px;
      font-weight: 900;
      margin: 0;
    }


    .arrow {
      display: inline-block;
      width: 35px;
      height: 35px;
      position: absolute;
      top: 35%;
      cursor: pointer;
      z-index: 10;
    }

    .arrow.left {
      left: 30px;

    }
    .arrow.right {
      right: 30px;
    }

  .login_user_card {
    display: none;
  }

}