@import url('./NoLoginBannerSlide.css');
@import url('./PickCard.css');
@import url('./HelpZone.css');
@import url('./Companyslide.css');
@import url('./LoginBannerUserCard.css');


        @font-face {
            font-family: 'Pretendard-Regular';
            src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }

        @font-face {
            font-family: 'Giants-Bold';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
            font-weight: 700;
            font-style: normal;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Pretendard-Regular';
        }

        .main_container {
            margin: auto;
            padding-top: 145px;
            width: 1080px;
            height: 100%
        }

        .main_container h1 {
            font-size: 36px;
            margin-bottom: 30px;
        }

        .pickzone,
        .helpzone {
            margin-top: 75px;
        }
