.wrap {
      position: relative;
      width: 1080px;
      height: 320px;
      text-align: left;
      overflow: hidden;
    }

    .wrap ul {
      padding: 0;
      margin: 0;
      display: flex;
      width: 9999px; /* 매우 큰 값으로 설정하여 JS에서 제어 */
      transition: 0.4s ease-in-out;
      border-radius: 8px;
    }

    .wrap li {
      list-style: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      border-radius: 8px;
    }

    .no_slide_item {
      flex-shrink: 0;
      width: 1080px;
      height: 320px;
      box-sizing: border-box;
      background-size: cover;
    }

    .no_slide_text {
      height: 250px;
      width: 900px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: 70px;
      margin-top: 30px;
      align-items: flex-start;
      left: 120px;
      color: white;
    }

    .no_slide_in_text {
      left: 120px;
      color: white;
      font-size: 36px;
      font-weight: 900;
      margin: 0;
    }

    .no_slide_in_text_sub{
      color: white;
      font-size: 26px;
      font-weight: 900;
      margin: 0;
    }

    .no_arrow {
      display: inline-block;
      width: 35px;
      height: 35px;
      position: absolute;
      top: 45%;
      cursor: pointer;
      z-index: 10;
    }

    .no_arrow.left {
      left: 30px;

    }
    .no_arrow.right {
      right: 30px;
    }

@media (max-width : 767px) {
      .wrap {
      position: relative;
      width: 100%;
      max-width: 400px;
      height: 320px;
      text-align: left;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }

    .wrap ul {
      padding: 0;
      margin: 0;
      display: flex;
      transition: 0.4s ease-in-out;
      border-radius: 0px;
      width: 100%;
    }

    .wrap li {
      list-style: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      border-radius: 8px;     
    }

  .no_slide_item {
    flex-shrink: 0;
    width: 100%;
    max-width: 400px;
    height: 250px;
    box-sizing: border-box;
    background-size: cover;
  }

    .no_slide_text {
      height: 200px;
      width: 320px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: 70px;
      margin-top: 30px;
      align-items: flex-start;
      left: 120px;
      color: white;
    }

    .no_slide_in_text {
      left: 120px;
      color: white;
      font-size: 24px;
      font-weight: 900;
      margin: 0;
    }

    .no_slide_in_text_sub{
      color: white;
      font-size: 20px;
      font-weight: 900;
      margin: 0;
    }


    .no_arrow {
      display: inline-block;
      width: 35px;
      height: 35px;
      position: absolute;
      top: 35%;
      cursor: pointer;
      z-index: 10;
    }

    .no_arrow.left {
      left: 30px;

    }
    .no_arrow.right {
      right: 30px;
    }

}