    .wrap {
      position: relative;
      width: 1080px;
      height: 320px;
      text-align: left;
      overflow: hidden;
    }

    .wrap ul {
      padding: 0;
      margin: 0;
      display: flex;
      transition: 0.4s ease-in-out;
      border-radius: 8px;
    }

    .wrap li {
      list-style: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      border-radius: 8px;
    }

    .slide_item {
      flex-shrink: 0;
      width: 1080px;
      height: 320px;
      box-sizing: border-box;
      background-size: cover;
    }

    .slide_text {
      height: 250px;
      width: 900px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: 70px;
      margin-top: 30px;
      align-items: flex-start;
      left: 120px;
      color: white;
    }

    .slide_in_text {
      left: 120px;
      color: white;
      font-size: 36px;
      font-weight: 900;
      margin: 0;
    }

    .slide_in_text_sub{
      color: white;
      font-size: 26px;
      font-weight: 900;
      margin: 0;
    }


    .no_arrow {
      display: inline-block;
      width: 35px;
      height: 35px;
      position: absolute;
      top: 45%;
      cursor: pointer;
      z-index: 10;
    }

    .no_arrow.left {
      left: 30px;

    }
    .no_arrow.right {
      right: 30px;
    }