        .user_card_container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 60px;
            row-gap: 35px;
            max-width: 1080px;
            line-height: 25px;
        }

        .user_card {
            width: 510px;
            height: 210px;
            border-radius: 32px;
   box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.15),
    4px 4px 4px 0px rgba(255, 255, 255, 0.1) inset;
    backdrop-filter: blur(5px);
            display: flex;
            cursor: pointer;
            
        }

        .pick_user_image_container {
            width: 65px;
            height: 65px;
            margin-top: 40px;
            margin-left: 30px;
            
        }
        .pick_user_image_container img{
            width: 65px;
            height: 65px;
        }
        .pick_user_image{
            width: 100%;
            height: auto;

        }
        
        .pick_user_info{
            margin-top: 20px;
            margin-left: 25px;
        }
        
        .pick_user_job{
            font-size: 13px;
            color: #0051BA;

        }
        .pick_user_name,
        .pick_user_career{
            font-size: 18px;
        }

        .pick_user_intro{
            font-size: 13px;
            color: #b3b3b3;
            width: 350px;
            height: 30px;
            line-height: 1;

        }

        .pick_user_tech {
            width: 360px;
            height: 75px;
            margin-top: 5px;
        }

        .pick_user_tech img{
            height: 27px;
            display: inline;
            margin-right: 15px;
        }
        