.company_container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 60px;
            row-gap: 35px;
            max-width: 1080px;
            line-height: 25px;
            margin-top: 60px;
            height: auto;
}

.company_card {
      width: 510px;
      height: 160px;
      border-radius: 32px;
      box-shadow: 4px 4px 16px #d4d4d4,
      -8px -8px 16px #ffffff;
      display: flex;
      cursor: pointer;
      
}

.company_img {
width: 60px;
height: 60px;
margin-top: 30px;
margin-left: 30px;
}
.company_img img{
      width: 100%;
      height: 100%;
      object-fit: contain;
}

.company_info{
      margin-left: 25px;
}

.company_name{
      width: 340px;
      height: 30px;
      font-size: 28px;
      font-weight: 800;
      margin-top: 30px;

}

.company_intro{
      width: 330px;
      height: 60px;
      font-size: 13px;
      color: #b3b3b3;
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-top: 5px;
}