.company_header_container {
  display: flex;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-family: 'Giants-Bold';
  text-shadow: 2px 2px 4px rgba(61, 61, 61, 0.5);
}

.company_header p{
  display: block;
  color: #b3b3b3;
}

