.select_modal {
    position: fixed;
    top: -140px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background: rgba(0,0,0,0.4);
    overflow: hidden;
  }
  
  .select_modal img {
    width: 520px;
    height: 332px;
    position: relative;
  }
  
  .sm_modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    z-index: 1; 
  }
  
  .sm_modal_content_1 {
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Pretendard-Regular';
    color: #5D5D5D;
    text-align: center;
  }
  .sm_modal_content_2 {
    margin-top: 5px;
    font-size: 12px;
    font-family: 'Pretendard-Regular';
    color: #989898;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .sm_modal_buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  
  .confirm_btn {
    width: 335px;
    height: 40px;
    background-color: #0051BA;
    color: white;
    font-family: 'Pretendard-Regular';
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }
  
  .cancel_btn {
    width: 335px;
    height: 40px;
    background-color: #FFF;
    color: #5D5D5D;
    font-family: 'Pretendard-Regular';
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #5D5D5D;
    border-radius: 12px;
    cursor: pointer;
  }

  .confirm_btn:hover {
    background-color: #0069F2;
  }
  .cancel_btn:hover {
    background-color: rgba(93, 93, 93, 0.1);
  }
  
  .cancel_btn:active,
  .confirm_btn:active {
    transform: scale(0.97);
  }